{% extends 'base.html' %}

{% block 'content' %}
<!--Section: FAQ-->
<section class="container">
    <h3 class="text-center mb-4 pb-2 text-primary fw-bold">F.A.Q.</h3>
    <p class="text-center mb-5">
        Мы подготовили ответы на самые частые вопросы к нашей команде:
    </p>

    <div class="row">
        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary"><i class="far fa-paper-plane text-primary pe-2"></i> Я могу заказать ваши услуги анонимно?</h6>
            <p>
                <strong><u>Безусловно!</u></strong> Многие компании обращаются к нам с целью исправить репутацию. В этом случае
                мы предлагаем анонимность и полную безопасность заказчика. Другие услуги также доступны для заказа анонимно, но по предоплате.
            </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary"><i class="fas fa-pen-alt text-primary pe-2"></i> Какие гарантии я получу?</h6>
            <p>
                <strong><u>Мы гарантировано выполним весь пул работ!</u></strong> Мы можем заключить договор и вписать все необходимые работы
                в список. Так вы гарантировано получите весь комплекс работ, а мы получим хороший отзыв.
            </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary"><i class="fas fa-user text-primary pe-2"></i> Можете сделать маркетинговую стратегию?
            </h6>
            <p>
                <strong><u>Конечно!</u></strong> Мы с огромным удовольствием проанализируем прошлые периоды работы компании (при наличии) и составим
                масштабный маркетинговый план согласно ваших бизнес-целей.
            </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary"><i class="fas fa-rocket text-primary pe-2"></i> Могу я познакомиться с командой?
            </h6>
            <p>
                К сожалению, в период всемирной пандемии, мы приняли решение об удаленной работе сотрудников. Это позволяет защитить
                их здоровье и семьи. Однако, ваш специалист будет на связи с вами постоянно. Также вы всегда можете отправить письмо директору.
            </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary"><i class="fas fa-home text-primary pe-2"></i> Что делать, если мне нужны дополнительные услуги,
                не оговоренные в договоре?
            </h6>
            <p><strong><u>Связаться с нами</u>.</strong> Мы с удовольствием пойдем на встречу и добавим блок работ по вашему желанию за отдельную оплату. Однако, обычно мы</p>
            предлагаем план на следующий период, в котором все учтено. Вам нужно только подтвердить.
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary"><i class="fas fa-book-open text-primary pe-2"></i> Как найти цену на нужную услугу?</h6>
            <p>
                Некоторые услуги сложно просчитать, или определить им точную тарификацию. Если вы не нашли цену на нужную вам услугу - свяжитесь
                с нами - мы просчитаем необходимые на выполнение время и бюджет в самые короткие сроки.
            </p>
        </div>
    </div>
</section>
<!--Section: FAQ-->
{% endblock %}