{% extends 'base.html' %}

{% block 'content' %}
<div class="container mt-4">
    <h2 style="font-size: 60px;line-height: 60px;margin-bottom: 20px;font-weight: 900;">ДИЗАЙН</h2>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col col-md-4 col-sm-6">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Дизайн Landing Page</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$100 <small class="text-muted">/ единоразово</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Слайдер с двумя авторскими баннерами</li>
                        <li>6 блоков (экранов)</li>
                        <li>Иконки, логотип и макет</li>
                        <li>Бесплатная консультация дизайнера</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-primary">Заказать</button>
                </div>
            </div>
        </div>
        <div class="col col-md-4 col-sm-6">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Дизайн многостраничного сайта</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">от $18 <small class="text-muted">/ страница</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Уникальный дизайн</li>
                        <li>Размерная сетка для разработчика</li>
                        <li>Иконки и изображения</li>
                        <li>Бесплатная консультация дизайнера</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-primary">Заказать</button>
                </div>
            </div>
        </div>
        <div class="col col-md-4 col-sm-6">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Разработка баннера</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">от $10 <small class="text-muted">/ шт.</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Уникальный дизайн</li>
                        <li>Исходник в формате Photoshop</li>
                        <li>Иконки и изображения</li>
                        <li>Бесплатная консультация дизайнера</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-primary">Заказать</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <h2 style="font-size: 60px;line-height: 60px;margin-bottom: 20px;font-weight: 900;">SEO продвижение</h2>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col col-md-4 col-sm-6">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">MINIMAL</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$150 <small class="text-muted">/ мес.</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Оптимизация 5 страниц</li>
                        <li>5 ссылок на вас с других сайтов</li>
                        <li>Специальный текст на одну страницу</li>
                        <li>Бесплатная консультация seo специалиста</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-primary">Заказать</button>
                </div>
            </div>
        </div>
        <div class="col col-md-4 col-sm-6">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">GOLD MIDDLE</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$300 <small class="text-muted">/ мес.</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Оптимизация 10 страниц</li>
                        <li>10-15 ссылок на вас с других сайтов</li>
                        <li>Специальные тексты на 5 страниц</li>
                        <li>Составление семантичего ядра</li>
                        <li>Бесплатная консультация seo специалиста</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-primary">Заказать</button>
                </div>
            </div>
        </div>
        <div class="col col-md-4 col-sm-6">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Оптимизация для СМИ и магазинов</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">от $800 <small class="text-muted">/ мес.</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Оптимизация 30 страниц (рубрик)</li>
                        <li>Специальные тексты на все страницы</li>
                        <li>Составление семантичего ядра</li>
                        <li>30-100 ссылок на вас с других сайтов</li>
                        <li>Поддержка по телефону и email</li>
                        <li>4 бесплатные консультации seo специалиста</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-primary">Начать</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <h2 style="font-size: 60px;line-height: 60px;margin-bottom: 20px;font-weight: 900;">SMM продвижение</h2>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col col-md-4 col-sm-6">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Для новых проектов</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$100 <small class="text-muted">/ мес.</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Создание бизнес-страницы компании</li>
                        <li>Mood board</li>
                        <li>Публикация 4 постов</li>
                        <li>Бесплатная консультация smm специалиста</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-primary">Заказать</button>
                </div>
            </div>
        </div>
        <div class="col col-md-4 col-sm-6">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Для действующих проектов</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$150 <small class="text-muted">/ мес.</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Mood board</li>
                        <li>Публикация 15 постов</li>
                        <li>Создание уникальных изображений и текстов</li>
                        <li>Бесплатная консультация smm специалиста</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-primary">Заказать</button>
                </div>
            </div>
        </div>
        <div class="col col-md-4 col-sm-6">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Полное сопровождение</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$300 <small class="text-muted">/ мес.</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Планирование публикаций на месяц</li>
                        <li>Контент план на 3 месяца</li>
                        <li>Создание уникальных изображений и текстов</li>
                        <li>Создание рекламного кабинета, настройка</li>
                        <li>Запуск таргетированной рекламной кампании</li>
                        <li>Бесплатная консультация smm специалиста</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-primary">Заказать</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col col-md-4 col-sm-6">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Бесплатно</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ мес.</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Включено 10 пользователей</li>
                        <li>2 ГБ памяти</li>
                        <li>Поддержка по email</li>
                        <li>Доступ к справочному центру</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-primary">Начать</button>
                </div>
            </div>
        </div>
        <div class="col col-md-4 col-sm-6">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Pro</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ мес.</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Включено 20 пользователей</li>
                        <li>10 ГБ памяти</li>
                        <li>Приоритетная поддержка по email</li>
                        <li>Доступ к справочному центру</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-primary">Начать</button>
                </div>
            </div>
        </div>
        <div class="col col-md-4 col-sm-6">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Enterprise</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ мес.</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Включено 30 пользователей</li>
                        <li>15 ГБ памяти</li>
                        <li>Поддержка по телефону и email</li>
                        <li>Доступ к справочному центру</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-primary">Начать</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}