{% extends 'base.html' %}

{% block 'content' %}

<div class="container bootstrap snippets bootdey">
  <div class="row">
    <div class="col-md-5">
      <div class="alert alert-coupon">
        <h4>БЛОК 1: Введение в SEO</h4>
        <p>Что такое SEO? Цели и задачи SEO-продвижения. Общий комплекс работ с сайтом. Терминология в SEO. Постановка целей для бизнеса и оценка их эффективности</p>
      </div>
      <div class="alert alert-info alert-coupon">
        <h4>БЛОК 2: Построение SEO стратегии</h4>
        <p>Постановка целей для бизнеса и оценка их эффективности. Составление стратегии продвижения ресурса в поисковых системах. Анализ конкурентов</p>
      </div>
      <div class="alert alert-success alert-coupon">
        <h4>БЛОК 3: Фильтры и алгоритмы. Google Search Console</h4>
        <p>Что такое пессимизация сайта? Что делать, если упали позиции или трафик на сайте? Диагностика фильтров на сайте. Способы выхода из-под фильтра. Как не попасть под фильтр: правила безопасного продвижения? Работа с Google Search Console</p>
      </div>
      <div class="alert alert-warning alert-coupon">
        <h4>БЛОК 4: Составление семантического ядра и поисковые запросы</h4>
        <p>Что такое семантическое ядро? Типы и особенности запросов. Инструменты и сбор статистики поисковых запросов. Кластеризация Разработка структуры сайта</p>
      </div>
      <div class="alert alert-danger alert-coupon">
        <h4>БЛОК 5: Обработка семантического ядра</h4>
        <p>Подбор поисковых запросов на примере работы с платными и бесплатными сервисами. Разбивка и группировка по частотности. Расширение семантического ядра. Кластеризация запросов. Подбор целевых страниц для раскрутки сайта. Выбор стратегии продвижения поисковых запросов</p>
      </div>
      <div class="alert alert-warning alert-coupon">
        <h4>БЛОК 6: Принцип работы поисковых систем. Факторы ранжирования</h4>
        <p>Структура поисковых систем и принцип их работы. Популярные поисковые системы. Структура поискового индекса. Особенности алгоритмов Google, последние апдейты. Факторы ранжирования: трастовые, коммерческие, ссылочные и поведенческие и др.</p>
      </div>
      <div class="alert alert-danger alert-coupon">
        <h4>БЛОК 7: Техническая SEO оптимизация сайта</h4>
        <p>Цели и задачи технической оптимизации сайта. С чего начать на этапе создания сайта. Проверка кодов ответа сервера. Проверка зеркал сайта. Редиректы. Скорость загрузки сайта. Оптимизация структуры сайта. Оптимизация меню. Настройка языковых версий. Настройка навигации по сайту</p>
      </div>
      <div class="alert alert-success alert-coupon">
        <h4>БЛОК 8: Внутренняя оптимизация сайта. Метатеги</h4>
        <p>Требования к метатегам. Title, Description, Keywords. Важность заголовка H1 и подзаголовков H2-H3. Настройка robots.txt. Настройка sitemap.xml. Проверка индексации контента на сайте. Оптимизация под типы устройств. Дублирование контента. Внутренние перелинковки и распределение веса сайта</p>
      </div>
      <div class="alert alert-info alert-coupon">
        <h4>БЛОК 9: Внутренняя оптимизация сайта</h4>
        <p>Индексация и кеширование сайта. Оптимизация адресов страниц (ЧПУ): разделители, длина, способ написания. Поиск дублированных страниц. Теги meta robots, canonical и hreflang. Способы оптимизации пагинации, фильтрации и сортировки. Маркер, микроразметка. Создание красивого сниппета, yml разметка. Правильная настройка ошибки 404. Настройка редиректов. Noindex и nofollow на сайте</p>
      </div>
    </div>

    <div class="col-md-5">
      <div class="alert alert-coupon">
        <h4>БЛОК 10: Оптимизация контента сайта</h4>
        <p>Что такое контент и задачи контента на сайте? Контент-маркетинг и контент-стратегия. Типы, форматы и каналы распостранения контента. Метрики эффективности и триггеры вовлеченности. Актуальные технологии и требования Google к контенту сайта. Руководство для асессоров и нейронная сеть BERT. Критерии E-A-T и примеры реализации. Чек-лист по созданию страницы высокого качества согласно E-A-T. Процесс разработки контент-стратегии. Источники и процесс поиска идей для контента. Создание контент-плана и подготовка ТЗ. Проверка, уникализация и защита текстов</p>
      </div>
      <div class="alert alert-info alert-coupon">
        <h4>БЛОК 11: Формирование контент-стратегии</h4>
        <p>Группировка запросов по страницам. Планирование контента на странице: основные задачи. Оптимизация контента на сайте интернет-магазина. Планирование контента лендинга на сайте услуг. Процесс реализации стратегии на практике. Подготовка ТЗ для лендинга. Стратегия написания и публикаций статей в блоге. Особенности планирования разные типов статей: пост-список, пошаговое руководство, расширенное определение, руководство для начинающих. Процесс доработки страниц и подготовке рекомендаций</p>
      </div>
      <div class="alert alert-success alert-coupon">
        <h4>БЛОК 12: Внешняя оптимизация сайта</h4>
        <p>Ссылочная масса и откуда ее взять. Ссылочное ранжирование. Особенности работы алгоритма PageRank, создание релевантного анкорного текста. Типы ссылок. Покупка и распределение ссылочной массы. Что такое биржи ссылок? Источники получения внешних ссылок. Какие ссылки фильтруются поисковыми системами и какие санкции за это бывают. Каким должен быть ссылочный профиль ресурса?</p>
      </div>
      <div class="alert alert-warning alert-coupon">
        <h4>БЛОК 13: Линкбилдинг</h4>
        <p>Что такое ссылочное продвижение? Привлечение реферрального трафика. Повышение узнаваемости бренда. Типы ссылок и как их применять? Формирование анкор-листа. Покупка ссылок – инструменты и эффективность. Как выбрать сайт для размещения ссылки?</p>
      </div>
      <div class="alert alert-danger alert-coupon">
        <h4>БЛОК 14: Анализ ниши</h4>
        <p>Зачем анализировать нишу? Ключевые слова. Ключевые конкуренты. Все конкуренты. Ссылки: количество, динамика, структура. Сбор дополнительной информации и лайфхаки. Упорядочение собранных данных и выводы</p>
      </div>
      <div class="alert alert-coupon">
        <h4>БЛОК 15: Градация специалистов отдела и взаимодействие между отделами</h4>
        <p>Градация специалистов отдела. KPI для SEO-специалиста. Система оценки работы. Бюджетирование в SEO. Подготовка отчетности своей работы. Взаимодействие с аккаунт менеджерами. Взаимодействие с линкбилдерами. Взаимодействие с программистами</p>
      </div>
      <div class="alert alert-info alert-coupon">
        <h4>БЛОК 16: Курсы закончились, что дальше? Ищем работу</h4>
        <p>Какие есть этапы поиска работы? Каким должно быть цепляющее резюме? Как выбрать свою вакансию и компанию? Для чего нужны сопроводительные письма? Что важно на собеседовании? Оффер и идем работать</p>
      </div>
    </div>
  </div>
</div>
<style>
  body{margin-top:20px;}
body {
  padding: 50px;
}

.alert-coupon {
  border: 1px dashed;

  h1, h2, h3, h4, h5, h6 {
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
  }

  p:last-child {
    margin-bottom: 0;
  }
}
</style>

{% endblock %}
