{% extends 'base.html' %}

{% block 'content' %}
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<div class="container bootstrap snippets bootdey">
<section id="services" class="current">
    <div class="services-top">
        <div class="container bootstrap snippets bootdey">
            <div class="row text-center">
                <div class="col-sm-12 col-md-12 col-md-12">
                    <h2>ЧТО МЫ ПРЕДЛАГАЕМ?</h2>
                    <h2 style="font-size: 60px;line-height: 60px;margin-bottom: 20px;font-weight: 900;">НАШИ УСЛУГИ</h2>
                    <p>Наши <span class="highlight">опытные</span> и <span class="highlight">вовлеченные</span> сотрудники выполнят работу для вас с улыбкой. </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-sm-12 col-md-12 col-md-10">
                    <div class="services-list">
                        <div class="row">
                            <div class="col-sm-6 col-md-4 col-md-4">
                                <div class="service-block" style="visibility: visible;">
                                    <div class="ico fa fa-magic highlight"></div>
                                    <div class="text-block">
                                        <div class="name">Web Дизайн</div>
                                        <div class="info">Красота и функциональность</div>
                                        <div class="text">Создадим уникальную айдентику для вашего бизнеса. Разработаем уникальный дизайн под ваши предпочтения. </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-md-4">
                                <div class="service-block" style="visibility: visible;">
                                    <div class="ico fa fa-code highlight"></div>
                                    <div class="text-block">
                                        <div class="name">Разработка и сопровождение</div>
                                        <div class="info">Качество превыше всего</div>
                                        <div class="text">Создадим любой проект под ваш бюджет. Сайт, приложение, социальные профили, доработки существующих проектов </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-md-4">
                                <div class="service-block" style="visibility: visible;">
                                    <div class="ico fa fa-pencil highlight"></div>
                                    <div class="text-block">
                                        <div class="name">Copy Writing</div>
                                        <div class="info">Слова - страшная сила</div>
                                        <div class="text">Напишем любые тексты - для соц.сетей, статьи, seo тексты, тексты для лендинга и т.д. Опишем неописуемое в кратчайшие сроки. </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-md-4">
                                <div class="service-block" style="visibility: visible;">
                                    <div class="ico fa fa-bullhorn highlight"></div>
                                    <div class="text-block">
                                        <div class="name">SEO/PPCM</div>
                                        <div class="info">Приведем клиентов, а не посетителей сайта</div>
                                        <div class="text">Продвижение компании, локального бизнеса, разработка стратегий продвижения, аналитика работ. Профессиональное мнение специалиста </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-md-4">
                                <div class="service-block" style="visibility: visible;">
                                    <div class="ico fa fa-eye highlight"></div>
                                    <div class="text-block">
                                        <div class="name">Branding/Identity</div>
                                        <div class="info">Уникальность вашего бизнеса в хороших руках</div>
                                        <div class="text">Создание бренда с нуля. Уникальная дизайнерская разработка для вашего бизнеса - лотип, брендбук, цвета и шрифты. Тезисы и слоганы. </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-md-4">
                                <div class="service-block" style="visibility: visible;">
                                    <div class="ico fa fa-umbrella highlight"></div>
                                    <div class="text-block">
                                        <div class="name">Стратегия и планирование</div>
                                        <div class="info">С мыслями о завтра</div>
                                        <div class="text">Продумаем для вас бизнес-схему, выполним аналитику, просчитаем будущее. Сумеем пошагово руководить всеми бизнесс-процессами </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-md-4">
                                <div class="service-block" style="visibility: visible;">
                                    <div class="ico fa fa-umbrella highlight"></div>
                                    <div class="text-block">
                                        <div class="name">Стратегия и планирование</div>
                                        <div class="info">С мыслями о завтра</div>
                                        <div class="text">Продумаем для вас бизнес-схему, выполним аналитику, просчитаем будущее. Сумеем пошагово руководить всеми бизнесс-процессами </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-md-4">
                                <div class="service-block" style="visibility: visible;">
                                    <div class="ico fa fa-umbrella highlight"></div>
                                    <div class="text-block">
                                        <div class="name">Стратегия и планирование</div>
                                        <div class="info">С мыслями о завтра</div>
                                        <div class="text">Продумаем для вас бизнес-схему, выполним аналитику, просчитаем будущее. Сумеем пошагово руководить всеми бизнесс-процессами </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-md-4">
                                <div class="service-block" style="visibility: visible;">
                                    <div class="ico fa fa-umbrella highlight"></div>
                                    <div class="text-block">
                                        <div class="name">Стратегия и планирование</div>
                                        <div class="info">С мыслями о завтра</div>
                                        <div class="text">Продумаем для вас бизнес-схему, выполним аналитику, просчитаем будущее. Сумеем пошагово руководить всеми бизнесс-процессами </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
<style>

#services {}
#services .services-top {
    padding: 70px 0 50px;
}
#services .services-list {
    padding-top: 50px;
}
.services-list .service-block {
    margin-bottom: 25px;
}
.services-list .service-block .ico {
    font-size: 38px;
    float: left;
}
.services-list .service-block .text-block {
    margin-left: 58px;
}
.services-list .service-block .text-block .name {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 5px;
}
.services-list .service-block .text-block .info {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
}
.services-list .service-block .text-block .text {
    font-size: 12px;
    line-height: normal;
    font-weight: 300;
}
.highlight {
    color: #2ac5ed;
    font-weight:bold;
}
</style>
{% endblock %}
