{% extends 'base.html' %}

{% block 'content' %}

<h1>Hello</h1>
{% for object in object_list %}

<div class="card" style="background-image: url({{object.image.url}})">
    <div class="card-body">
        <h4 class="card-title">Проект</h4>
        <h6 class="card-subtitle mb-2 text-muted">{{ object.name }}</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        <a href="#" class="card-link">Перейти</a>
    </div>
</div>
{% endfor %}

{% endblock %}