<!-- Footer -->
  <footer
          class="text-center text-lg-start text-white"
          style="background-color: #1c2331"
          >
    <!-- Section: Social media -->
    <section
             class="d-flex justify-content-between p-4"
             style="background-color: #6351ce"
             >
      <!-- Left -->
      <div class="me-5">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        <a href="" class="text-white me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold">PROKOPCHUK AGENCY</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              SEO продвижение, ведём SMM для бренда, запуск и сопровождение
              рекламы в Google ADS, создание сайтов и чат-ботов. С 2001 года.
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">УСЛУГИ</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              <a href="{% url 'seo-service' %}" class="text-white">SEO продвижение</a>
            </p>
            <p>
              <a href="{% url 'reklama' %}" class="text-white">Реклама Google и Yandex</a>
            </p>
            <p>
              <a href="{% url 'website-creation' %}" class="text-white">Создание сайтов</a>
            </p>
            <p>
              <a href="{% url 'seo-academy' %}" class="text-white">SEO Academy</a>
            </p>
            <p>
              <a href="#!" class="text-white">Linkbuilding</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              <a href="{% url 'contacts' %}" class="text-white">Контакты</a>
            </p>
            <p>
              <a href="{% url 'smm-prodvijenie' %}" class="text-white">SMM продвижение</a>
            </p>
            <p>
              <a href="{% url 'events' %}" class="text-white">Проведение мероприятий</a>
            </p>
            <p>
              <a href="#!" class="text-white">Дизайн, баннеры, digital</a>
            </p>
            <p>
              <a href="{% url 'orm-marketing' %}" class="text-white">Управление репутацией</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">КОНТАКТЫ</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p><i class="fas fa-home mr-3"></i> Киев, Украина</p>
            <p><i class="fas fa-envelope mr-3"></i> office@prokopchuk.agency</p>
            <p><i class="fas fa-phone mr-3"></i> +38 (067) 960-04-61</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2022 Creation and Copyright:
      <a class="text-white" href="https://mdbootstrap.com/"
         >PROKOPCHUK AGENCY</a
        >
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->