{% load i18n %}
<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img class="bi me-2" src="/static/images/logo1.png" width="40" height="32" role="img" aria-label="Prokopchuk agency"/>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-white">Главная</a></li>
                <li><a href="{% url 'services' %}" class="nav-link px-2 text-white">Услуги</a></li>
                <li><a href="{% url 'price' %}" class="nav-link px-2 text-white">Прайс</a></li>
                <li><a href="{% url 'faq' %}" class="nav-link px-2 text-white">FAQs</a></li>
                <li><a href="/team" class="nav-link px-2 text-white">Команда</a></li>
                <li class="nav-item dropdown">
            </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" action="{% url 'set_language' %}" method="post">{% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}">
            <select name="language" class="">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                        {{ language.name_local }} ({{ language.code }})
                    </option>
                {% endfor %}
            </select>
            <input class="btn btn-success" type="submit" value="Ok">
        </form>
<!--            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">-->
<!--                <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">-->
<!--            </form>-->

<!--            <div class="text-end">-->
<!--                <button type="button" class="btn btn-outline-light me-2">Войти</button>-->
<!--                <button type="button" class="btn btn-warning">Регистрация</button>-->
<!--            </div>-->
        </div>
    </div>
</header>