<div class="container-fluid d-flex flex-column justify-content-center align-items-center"
     style="
     height: 500px;
     background-image: url('static/images/11331.jpg');
     "
>
    <h3 class="text-center text-white" >Главное о нас:</h3>
    <h2 class="lead text-center text-white">
        <p>PROKOPCHUK agency - маркетинговое агентство полного цикла, оказывающее услуги в сфере маркетинга и рекламы,
        <p>PR-коммуникаций, дизайна, создания и продвижения web-решений, а также изготовления media-продуктов.
        <p>Клиентами агентства являются предприятия, представляющие различные секторы рынков B2B и B2C.</p>
    </h2>

    <section class="advantages">
      <h2>Что выделяет нас среди конкурентов?</h2>
      <ul class="advantages-list">
        <li class="advantages-item">Создаем узнаваемость бренда</li>
        <li class="advantages-item">Охватываем только нужную аудиторию </li>
        <li class="advantages-item">Рекомендуем лучшие способы продвинуть бизнес</li>
        <li class="advantages-item">Ежмесячные отчеты, рекомендации, аналитика</li>
        <li class="advantages-item">Наши специалисты с удовольствием консультируют вас</li>
      </ul>
    </section>
    <style>
.advantages {
  width: 610px;
  margin: 0 auto 40px;
  padding: 0 20px;
}

.advantages-list {
  padding: 0;
  list-style: none;
}

.advantages-item {
  margin-bottom: 15px;
  padding-left: 20px;
  border-left: 20px solid #e2e2e2;
  color: white;
}
    </style>
</div>

