<link rel="stylesheet" href="/static/css/owl.carousel.min.css">
<link rel="stylesheet" href="/static/css/owl.theme.default.min.css">

<section class="py-5 text-center container">


    <div class="row py-lg-5">
        <div class="col-lg-12 col-md-12 mx-auto">
            <!-- Set up your HTML -->
            <div class="owl-carousel">
                {% for slide in slides %}
                <div class="col-lg-6 col-md-8 mx-auto text-white"
                     style="background-image: url('{{slide.image.url}}')">
                    <h1 class="font-weight-light">{{slide.title}}</h1>
                    <p class="lead text-white">{{slide.description}}</p>
                    <p>
                        {% if slide.button_1_text %}
                        <a href="location.href='{{slide.button_1_link}}'" class="btn btn-primary my-2">{{slide.button_1_text}}</a>
                        {% endif %}
                        {% if slide.button_2_text %}
                        <a href="location.href='{{slide.button_2_link}}'" class="btn btn-primary my-2">{{slide.button_2_text}}</a>
                        {% endif %}
                    </p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/owl.carousel.min.js"></script>
<script>
     $(document).ready(function(){
      $(".owl-carousel").owlCarousel({items: 1});
    });




</script>
